<template>
  <button
    @click="$emit('onClick')"
    class="flex font-semibold text-gray-700 justify-center bg-white my-3"
    :class="classOptions">
      <span class="icon mr-1"><slot /></span>
      <span>{{label}}</span>
  </button>
</template>

<script>
export default {
  props: {
    label: String,
    size: String,
    flat: {
      type: Boolean,
      default: false
    },
    shadow: {
      type: Boolean,
      default: true
    }
  },
  emits: ['onClick'],
  data() {
    return {
      classOptions: {
        'text-xs': this.size === 'small',
        'rounded-md': !this.flat,
        'hover:bg-gray-200': !this.flat,
        'active:bg-gray-500': !this.flat,
        'shadow-md': !this.flat && this.shadow,
        'p-2': !this.flat
      }
    }
  }
}
</script>
<style lang="postcss">
.icon:empty {
  display: none;
}
</style>