

<template>
  <teleport to="#teleport" :disabled="false">
    <div class="flex justify-center items-center fixed top-0 left-0 right-0 bottom-0 bg-opacity-30 bg-black">
      <div class="m-3 max-w-lg bg-yellow-300 border border-yellow-200 rounded p-5 shadow-lg">
        <p class="text-lg font-bold">{{title}}</p>
        <p class="mb-5">{{subtitle}}</p>
        <div class="">
          <slot />
        </div>
        <div class="flex">
          <Button :label="actionLabel" @onClick="$emit('onClick')" class="mr-3" />
          <Button label="Cancel" @onClick="$emit('onCancel')" />
        </div>
      </div>
    </div>
  </teleport>
</template>

<script>
import Button from './Button.vue'

export default {
  components: {
    Button
  },
  props: {
    title: String,
    subtitle: String,
    actionLabel: String
  },
  emits: ['onClick', 'onCancel'],
  data() {
    return {
    }
  },
  methods: {
    potato() {
      console.log('potato')
    }
  }
}
</script>
