<template>
  <div class="flex flex-col">
    <label :for="name" class="text-sm text-gray-500 mb-1">{{label}}</label>
    <select :id="name" :name="name" v-model="selected" @change="onSelection" class="bg-gray-50 p-1 border">
      <option disabled value="qq">Select</option>
      <option v-for="option in options" :value="option">{{option}}</option>
    </select>
  </div>
</template>

<script>
export default {
  props: ['label', 'name', 'options', 'onSelection'],
  data() {
    return {
      selected: this.options[0]
    }
  }
}
</script>