<template>
  <div class="answer border-gray-200 p-5">
    <!--
    <p class="text-xl mb-6">{{data.question}}</p>
    -->
    <ModalTerms
      v-if="showTerms"
      :lang="postData.language_question"
      @onCancel="handleModalCancel">
    </ModalTerms>      


    <div v-if="false" class="bg-green-300">
    {{ postData }}
    </div>
    
    <p v-if="false" class="mb-3 font-bold break-words">{{answerCombined}}</p>
    
    <tapir-widget :time="2" :afterRecording="doneRecording" buttonColor="false"/>

    <!-- :value="postData.text" -->
    <textarea class="w-full p-3 mb-0 h-40 border border-gray-200 focus:border-gray-500"
              :maxlength="maxLength"
              placeholder="Write here your answer..."
              :value="postData.text"
              @click="firstClickArea"
              @input="updateAnswer"
              autofocus />

    <p class="text-right text-sm text-gray-500">{{answerLength}}/{{maxLength}} characters</p>
    <p v-if="(!firstClick || answerLength === 0) && isSubmitted" class="text-sm mb-8 font-bold text-red-500" v-t="'emptyAnswer'"></p>
    
    <p v-if="!validated" class="text-sm mb-8 font-bold text-red-500" v-t="'latinCharsOnly'"></p>

    <div class="flex flex-col mt-8">
      <label v-if="false" class="mb-0 max-w-full text-gray-500 text-sm" for="name">Name (Optional)</label>
      <input v-model="postData.user_name" type="text" id="name" name="name" class="p-2 border border-gray-200 focus:border-gray-500" :placeholder="$t('name')" />
    </div>
    
    <div class="flex flex-col mt-4">
      <label v-if="false" class="mb-0 max-w-full text-gray-500 text-sm" for="name">Place (Optional)</label>
      <input v-model="postData.user_place" type="text" id="name" name="name" class="p-2 border border-gray-200 focus:border-gray-500" :placeholder="$t('place')" />
    </div>

    <div class="flex items-start mt-12 ml-2">
      <input type="checkbox" id="scales" name="scales" class="" v-model="isTermsAccepted"/>
      <label class="ml-3 -mt-1 text-m" for="scales">
        <span v-t="'sincereAnswer'"></span>
        <button @click="handleShowTerms"><span class="underline" v-t="'termsOfUse'"></span></button>
      </label>
    </div>
    <p v-if="!isTermsAccepted && isSubmitted" class="text-sm mt-1 mb-8 font-bold text-red-500" v-t="'confirmSubmit'"></p>
    <button class="btn2 mt-8" @click="postAnswer" v-t="'submit'"></button>
  </div>
</template>

<script>
import { store } from '../store'
import axios from 'axios'
import ModalTerms from './components/ModalTerms.vue'
import TapirWidget from 'vue-audio-tapir';
import 'vue-audio-tapir/dist/vue-audio-tapir.css';

export default {
  name: 'Answer',
  props: ['data', 'lang'],
  components: {
    ModalTerms,
    TapirWidget
  },
  data() {
    return {
      showTerms: false,
      questions: store.questions,
      postData: {
        language_question: this.$route.params.lang,
        area_id: this.$route.params.area ? this.$route.params.area : -1,
        choice_id: this.data.id,
        subchoice_id: this.data.id_sub ? this.data.id_sub : -1,
        text: '',
        user_name: '',
        user_location: '',

        /*
        choice_id: ,
        subchoice_id: ,
        */ 
      },
      // answer: '',
      message: null,
      answerCombined: '',
      isErrorTextLength: false,
      isTermsAccepted: false,
      isSubmitted: false,
      firstClick: false,
      validated: true
    }
  },
  watch: {
    data(newVal, oldVal) {
      // console.log(newVal)
      // this.updateAnswer(null)
    }
  },
  computed: {
    answerLength() {
      return this.postData.text.length
    },
    maxLength() {
      let area = this.$route.params.area
      let q = this.questions['en']['areas'].filter(q => q.id === parseInt(area))[0]      
      return q['answer_size']
    }
  },
  mounted() {
    let prompt = this.data.placeholder
    this.postData.text = prompt
    this.validateData()
    // this.updateAnswer(null)
    // this.postData['language_question'] = this.lang
  },
  unmounted() {
    document.body.style.overflow = "scroll";
  },
  methods: {
    doneRecording(record) {
        console.log(record);
	this.message = record
    },
    updateAnswer(e) {
      // console.log(e.target.value)
      this.postData.text = e.target.value

      this.validateData()
      // console.log(result)
    },
    firstClickArea() {
      // console.log('click')
      if (!this.firstClick) {
        this.postData.text = this.postData.text.replace('...', '')
        this.firstClick = true
        this.validateData()
      }
    },
    validateData() {
      // this.validated = /^[a-zA-Z0-9., ]*$/gm.test(this.postData.text)

      let text = this.postData.text
      var text2 = text.replace(/\n|\r/g, "");
      this.validated = /^[*#())[\]{}\-_‚„“”‘’"'/\\«»‹›!¡?¿·•:;…ﬁﬂªºω¹²³⁄½¼¾@&¶§©®™°|¦†‡¢¤$€ƒ£¥+−×÷=≠><≥≤±≈~¬^∅∞∫∏∑√µ∂%‰↑→↓←◊̦̒¨˙`´˝ˆˇ˘˚˜¯¸˛AÁĂÂÄÀĀĄÅÃÆBCĆČÇDÐĎĐEÉĚÊËĖÈĒĘFGĞĢHIÍÎÏİÌĪĮJKĶLĹĽĻŁMNŃŇŅÑOÓÔÖÒŐŌØÕŒPÞQRŔŘŖSŚŠŞȘTŤȚUÚÛÜÙŰŪŲŮVWXYÝŸZŹŽŻaáăâäàāąåãæbcćčçdðďđeéěêëėèēęfgğģhiıíîïìīįjkķlĺľļłmnńňņñoóôöòőōøõœpþqrŕřŗsśšşșßtťțuúûüùűūųůvwxyýÿzźžża-zA-Z0-9., ]+$/gm.test(text2)
      // console.log('validated', this.postData.text, text2, this.validated)
    },
    postAnswer() {
      let query = `${window.hostname}/answer/message`
      console.log(query)
      const form = new FormData();
      form.append('message', this.message.blob, this.message.url)
      form.append('message_duration', this.message.duration)
      form.append('language_question', this.postData.language_question)
      form.append('area_id', this.postData.area_id)
      form.append('choice_id', this.postData.choice_id)
      form.append('subchoice_id', this.postData.subchoice_id)
      form.append('text', this.postData.text)
      form.append('user_name', this.postData.user_name)
      form.append('user_location', this.postData.user_location)

      this.isSubmitted = true
      if (this.postData.text.length === 0 || !this.isTermsAccepted || !this.validated) return
      axios
        .post(query, form)
        .then(response => {
          console.log(response.data)
          this.$router.push({ name: 'Sent', params: { result: 'success' }})
        })
        .catch(e => {
          console.log(e)
          this.$router.push({ name: 'Sent', params: { result: 'error' }})   
       })
    },
    handleShowTerms() {
      this.showTerms = true
      document.body.style.overflow = "hidden";
    },
    handleModalCancel() {
      this.showTerms = false
      document.body.style.overflow = "scroll";
    }
  }
}
</script>

<style lang="postcss">
  input[type=checkbox] {
    transform: scale(1.5);
  }
</style>

<i18n>
{
  "en": {
    "name": "Name",
    "place": "Place",
    "submit": "Submit",
    "sincereAnswer": "My response is sincere and can be made public according to the ",
    "termsOfUse": "Terms Of Use",
    "emptyAnswer": "* Empty answers cannot be submitted",
    "confirmSubmit": "* Please confirm before submitting",
    "latinCharsOnly": "* Only latin characters are supported"
  },
  "de": {
    "name": "Name",
    "place": "Ort",
    "submit": "Absenden",
    "sincereAnswer": "Meine Antwort ist aufrichtig und darf veröffentlicht werden, ausgehend von den ",
    "termsOfUse": "Nutzungsbedingungen",
    "emptyAnswer": "* Leere Felder werden nicht abgesendet",
    "confirmSubmit": "* Bitte vor dem Absenden bestätigen",
    "latinCharsOnly": "* Unterstützt nur lateinische Zeichen"      
  }
}
</i18n>
