<template>
  <div id="main" class="min-h-screen bg-gray-50">
    <div v-if="!$route.path.includes('/intro')" class="bg-gray-50 p-3 border-b fixed top-0 left-0 right-0 flex">
      <button @click="goBack" class="text-gray-800 font-semibold underline border-r border-gray-200 pr-3 mr-3" :class="{'disabled': $route.path.includes('/intro') || $route.path.includes('/sent') || $route.path.includes('/map')}">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19 11H7.83l4.88-4.88c.39-.39.39-1.03 0-1.42-.39-.39-1.02-.39-1.41 0l-6.59 6.59c-.39.39-.39 1.02 0 1.41l6.59 6.59c.39.39 1.02.39 1.41 0 .39-.39.39-1.02 0-1.41L7.83 13H19c.55 0 1-.45 1-1s-.45-1-1-1z"/></svg>
      </button>
      <router-link :to = "{ name: 'map' }" class="text-gray-800 font-semibold underline" :class="{'disabledq': $route.path.includes('/map')}">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M10 19v-5h4v5c0 .55.45 1 1 1h3c.55 0 1-.45 1-1v-7h1.7c.46 0 .68-.57.33-.87L12.67 3.6c-.38-.34-.96-.34-1.34 0l-8.36 7.53c-.34.3-.13.87.33.87H5v7c0 .55.45 1 1 1h3c.55 0 1-.45 1-1z"/></svg>
      </router-link>
  
      <span class="mx-2">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24" fill="#e5e7eb"><path d="M0 0h24v24H0z" fill="none"/><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
      </span>
      <span>{{ $t(title) }}</span>

      <span v-if="true" class="absolute right-3 font-medium text-gray-800">
        <!--
        <button @click = "changeLang('en')" :class="{'font-extrabold': 'en' === lang}">en</button>
        <span class="px-2 text-gray-300">|</span>
        <button @click = "changeLang('de')" :class="{'font-extrabold': 'de' === lang}">de</button>
        -->

        <router-link to = "/" class="" :class="{'hidden': $route.path.includes('/intro')}">
          <span v-if="false" v-t="'language'"></span>
          <span :class="{'font-extrabold': 'de' === lang}">de</span>
          <span class="px-1 text-gray-400">/</span>
          <span :class="{'font-extrabold': 'en' === lang}">en</span>
        </router-link>
      </span>
    </div>    
  
    <div id="subapp-main-content" class="sm:max-w-xl mx-auto w-full">
      <router-view v-slot="{ Component }" class="pt-20">
        <transition name="fade" mode="out-in">
          <component :is="Component" :key="$route.name"/>
        </transition>
      </router-view>
    </div>
  </div>
</template>

<script>
import { store } from '../store.js'

export default {
  name: 'MainApp',
  props: ['lang', 'area'],
  data() {
    return {
      id: store.id,
      questions: store.questions
    }
  },
  watch: {
    lang(newVal, oldVal) {
      // console.log(newVal)
      this.$root.$i18n.locale = newVal
    }
  },
  computed: {
    title() {
      // console.log(this.questions)
      // console.log(this.lang)

      if (this.area) {
        return this.questions[this.lang]['areas'].filter(q => q.id === parseInt(this.area))[0].theme
      } else {
        return this.$route.meta.title
      }
    }
  },
  methods: {
    goBack() {
      this.$router.go(-1)
    },
    changeLang(lang) {
      console.log('changing lang ', lang)
      // this.$router.push()
      this.$router.replace({params: { lang: lang}})
    }
  },
  mounted() {
    // console.log(this.questions['en']['areas'][0]['theme'])
  }
}
</script>

<style lang="postcss">
.btn2 {
  @apply font-medium text-gray-700 bg-gray-200 px-5 py-2 inline-block border border-gray-300 shadow-md hover:bg-gray-300 hover:shadow-lg active:bg-gray-400;
}

.disabled {
  @apply opacity-20 pointer-events-none cursor-not-allowed;
}
</style>


<i18n>
{
  "en": {
    "language": "Language",
    "home": "Home",
    "sent": "Your Heimat..."
  },
  "de": {
    "language": "sprache",
    "home": "Heimat",
    "sent": "Ihre Heimat..."
  }
}
</i18n>