<template>
  <div id="area" class="h-screen py-1">
    <div v-if="false" class="px-5 pt-3 text-gray-500 text-right text-xs">
      Area {{area}} / Step {{step}}
    </div>
        
    <!-- areas 1, 2, 3 -->
    <!-- user_selection.id -->

    <div v-if="question.choices && !question.has_subchoices">
      <transition name="fade" mode="out-in">
        <Question v-if="step === 1" :question="question" @input="handleOptionSelect" v-model="choice_selection" />
        <Answer v-else-if="choice_selection !== -1 && step === 2" :data="user_selection" />
      </transition>
    </div>

    <p v-if="false" class="bg-blue-300">
      {{ subchoice_selection }}
    </p>

    <p v-if="false" class="bg-yellow-300">
      {{choice_selection}}
    </p>


    <p v-if="false" class="bg-red-300">
      {{question}}
    </p>

    <!-- area 4 -->

    <div v-if="question.has_subchoices">
      <transition name="fade" mode="out-in">
        <Question v-if="question.choices && step === 1" :question="question" @input="handleSubchoiceSelection" v-model="subchoice_selection" />
        <Question v-else-if="subchoice_selection !== -1 && step === 2" :prevQuestion="question.choices[subchoice_selection].text" :question="question.subquestion" @input="handleOptionSelect" v-model="choice_selection" />
        <Answer v-else-if="choice_selection !== -1 && step === 3" :data="questionMultiple"/>
      </transition>
    </div>
    
    <!-- areas 5, 6, 7 -->
    <div v-if="!question.choices"> 
      <Answer :data="question"/>      
    </div>

 </div>
</template>

<script>
import { store } from '../store'
import Question from './Question.vue'
import Answer from './Answer.vue'

export default {
  name: 'Area',
  props: {
    lang: String,
    area: Number,
    step: Number
  },
  components: {
    Question,
    Answer
  },
  data() {
    return {
      questions: store.questions,
      subchoice_selection: -1,
      choice_selection: -1,
      user_selection: null
    }
  },
  watch: {
  },
  computed: {
    theme() {
      // return this.questions[this.lang]['areas.']
    },
    question() {
      return this.questions[this.lang]['areas'].filter(q => q.id === parseInt(this.area))[0]
    },
    questionMultiple() {
      if (this.choice_selection === -1) return null
      else {
        let choices = this.question.choices
          .filter(c => c.id === parseInt(this.subchoice_selection))[0].subchoices
          .filter(q => q.id === parseInt(this.choice_selection))[0]

        // console.log(JSON.stringify(this.subchoice_selection), JSON.stringify(this.choice_selection))
        // console.log(JSON.stringify(choices))
        // console.log(JSON.stringify(this.question.choices))

        let copyChoices = { ...choices }
        if (this.subchoice_selection) copyChoices.id = this.subchoice_selection

        return {id_sub: this.choice_selection, ...copyChoices }
      }
    }
  },
  methods: {
    handleOptionSelect(val) {
      // console.log('qq', val)
      this.choice_selection = val

      this.user_selection = this.question.choices.filter(c => c.id === parseInt(val))[0]

      if (!this.question.has_subchoices) {
        this.$router.push({ name: 'Area', params: { step: 2} })
      } else {
        this.$router.push({ name: 'Area', params: { step: 3} })
      }
    },
    handleSubchoiceSelection(val) {
      this.subchoice_selection = val
      this.$router.push({ name: 'Area', params: { step: 2} })    
    }
  }
}
</script>

<style lang="postcss">
</style>
