<template>
  <div id = "faq" class="p-5">
    
    <ModalTerms
      v-if="showTerms"
      :lang="lang"
      @onCancel="handleModalCancel">
    </ModalTerms>    
    
    <div v-if = "lang === 'en'">
      <h1>What is FAQ?</h1>
      <p>FAQ is a questionnaire and responsive installation that brings your voice to the walls of Heimaten, following the exhibition’s seven thematic questions.</p>

      <h1>How does FAQ work?</h1>
      <p>On the Home screen, you can choose an exhibition area to be directed to its question. Your response will appear within the exhibition area shortly after pressing submit. After an instant display, it will join a collection of answers that periodically reappear throughout the course of the exhibition.</p>

      <h1>Why are my thoughts on ‘Heimat’ important?</h1>
      <p>Few terms are as emotionally charged and susceptible to political or commercial exploitation. As there is no one definition of “Heimat” that everyone can agree on, your answers will help keep the use of this term subjective, multi-faceted, and open to interpretation.</p>
      
      <h1>Am I connected to the internet?</h1>
      <p>No. FAQ uses a local network that is only accessible in the exhibition space. If you need internet access you will need to disconnect from the HEIMATEN FAQ network.</p>

      <h1>My data?</h1>
      <p>FAQ assigns a random number to each device that joins the local network. No personal data beyond the content you explicitly submit via this questionnaire will be saved or shared with the public.</p>

      <h1>Who is behind FAQ?</h1>
      <p>FAQ has been developed by Commonplace Studio with Tim Knapen and Victor Diaz. The  installation was specially commissioned by the MK&G for Heimaten.</p>
    </div>

    <div v-if = "lang === 'de'">
      <h1>Was ist FAQ?</h1>
      <p>FAQ ist eine Umfrage und eine interaktive Installation. Sie folgt den sieben Hauptfragen der Ausstellung und spielt Ihre Antworten an die Wand.</p>

      <h1>Wie funktioniert FAQ?</h1>
      <p>Über die Startseite – wir nennen sie Heimat – können Sie einen Ausstellungsbereich ansteuern und werden so zu den entsprechenden Fragen geleitet. Ihre Antwort wird auf der Wand im Ausstellungsraum erscheinen, kurz nachdem Sie auf „Absenden“ geklickt haben. Danach wird sie, gemeinsam mit anderen angesammelten Antworten, im Laufe der Ausstellungsdauer immer wieder an die Wand projiziert.</p>

      <h1>Warum sind meine Gedanken zu Heimat wichtig?</h1>
      <p>Nur wenige Begriffe sind emotional so aufgeladen und werden politisch wie kommerziell so instrumentalisiert. Die eine Definition von Heimat, auf die wir uns alle einigen könnten, gibt es nicht. Mit Ihren Antworten wird es uns gelingen, den Begriff und seine Bedeutung so subjektiv, facettenreich und offen zu halten, wie er es verdient.</p>
      
      <h1>Bin ich mit dem Internet verbunden?</h1>
      <p>Nein. FAQ nutzt ein lokales Netzwerk, das nur im Ausstellungsraum zugänglich ist. Wenn Sie das Internet brauchen, müssen Sie sich bitte aus dem HEIMATEN FAQ Netzwerk wieder ausloggen.</p>

      <h1>Und meine Daten?</h1>
      <p>FAQ ordnet jedem Gerät, das sich mit dem lokalen Netzwerk verbindet, eine zufällige Nummer zu. Wir speichern keine Daten außer den Inhalten, die Sie ausdrücklich mit dem Klicken von „Absenden“ mit uns und den anderen Ausstellungsbesucher*innen teilen wollen.</p>

      <h1>Wer steht hinter FAQ?</h1>
      <p>FAQ wurde von Commonplace Studio gemeinsam mit Tim Knapen und Victor Diaz entwickelt - als Auftragsarbeit des MK&G für die Ausstellung Heimaten.</p>
    </div>

    <button @click="handleShowTerms" class="my-5">🠖 <span class="font-bold underline" v-t="'termsOfUse'"></span></button>
   
    <div>
      <router-link class="btn2 mt-5" :to="{ name: 'map' }"><span v-t="'home'">Home</span></router-link>
    </div>
  </div>
</template>

<script>
import ModalTerms from './components/ModalTerms.vue'

export default {
  name: 'Faq',
  props: ['lang'],
  components: {
    ModalTerms
  },
  data() {
    return {
      showTerms: false
    }
  },
  mounted() {
    // console.log('faq')
  },
  unmounted() {
    document.body.style.overflow = "scroll";
  },
  methods: {
    handleShowTerms() {
      this.showTerms = true
      document.body.style.overflow = "hidden";
    },
    handleModalCancel() {
      this.showTerms = false
      document.body.style.overflow = "scroll";
    }
  }
}
</script>

<style lang="postcss" scoped>
h1 {
  @apply font-bold mb-1;
}

p {
  @apply mb-5;
}

</style>


<i18n>
{
  "en": {
    "home": "Home",
    "termsOfUse": "Terms Of Use"
  },
  "de": {
    "home": "Heimat",
    "termsOfUse": "Nutzungsbedingungen"
  }
}
</i18n>