<template>
  <div id = "intro" class="h-screen pt-0 flex flex-col justify-center items-center">
   
    <!--
    <p v-t="{ path: 'hello' }"></p>
    <p>{{ $t('helloq') }}</p>
    <p v-t="'helloq'"></p>
    -->

    <div class="mb-16">
      <p v-if="false" class="font-normal text-lg mb-3 text-gray-800">I feel more at home answering questions in</p>
      <router-link to="/main/de/map" class="btn2 w-32 text-center">Deutsch</router-link>
    </div>

    <div class="mb-7">
      <p v-if="false" class="font-normal text-lg mb-3 text-gray-800">I feel more at home answering questions in</p>
      <router-link to="/main/en/map" class="btn2 w-32 text-center">English</router-link>
    </div>
    
    <div v-if="false" class="mt-10">
      <router-link to="/main/de/faq" class="block underline mb-3 text-gray-500">FAQ [de]</router-link>
      <router-link to="/main/en/faq" class="block underline mb-1 text-gray-500">FAQ [en]</router-link>
    </div>
  </div>
</template>

<script>

export default {
  name: 'Intro',
  components: {
  },
  mounted() {
    // console.log('hola')
    // this.$i18n.locale = 'en'
  }
}
</script>

<style lang="postcss">
#intro {
  padding-top: 0px;
}

</style>


<i18n>
{
  "en": {
    "helloq": "hello world!",
    "language": "Language"
  },
  "ja": {
    "helloq": "こんにちは、世界！",
    "language": "sprache"
  }
}
</i18n>