<template>
  <div id = "map" class="sm:max-w-sm mx-auto">
    <h1 v-if="false" class="p-3 pb-0 text-gray-400 text-center">Choose the area</h1>

     <svg height="80vh" width="90%" class="m-auto" viewBox="0 0 198 325" fill="none" xmlns="http://www.w3.org/2000/svg">
      <router-link :to="`/main/${lang}/area/1/step/1`">
        <g id="c1">
          <circle r="18" cy="272.5" cx="41.400002" />
          <path d="M41.7,277.2v-5.8c0-0.6-0.3-0.8-0.7-0.8h-1.6v-1.1h0.2c0.6,0,1.1,0,1.6-0.4s0.7-0.8,0.8-1.4h1.4v9.5L41.7,277.2L41.7,277.2   z" />
        </g>    
      </router-link>

      <router-link :to="`/main/${lang}/area/2/step/1`">
        <g id="c2">
          <circle cx="156" cy="284.39999" r="18" />
          <path d="M152.8,287.9c1.6-1.2,2.8-2.3,3.3-2.9c0.2-0.3,1-1.1,1-2.3c0-0.8-0.4-1.4-1.2-1.4c-1.3,0-1.3,1.3-1.3,2v0.2l-1.8-0.2v-0.1   c0-1.2,0.4-2,0.7-2.4s1.1-1.2,2.6-1.2c1.1,0,1.8,0.5,2.1,0.8c0.6,0.5,0.9,1.4,0.9,2.2c0,0.3,0,0.9-0.4,1.6c-0.6,1.2-1.7,2-2.6,2.8   c-0.3,0.3-0.7,0.6-1,0.8h4.1v1.5h-6.4L152.8,287.9L152.8,287.9z" />
        </g>
      </router-link>

      <router-link :to="`/main/${lang}/area/3/step/1`">
        <g id="c3">
          <circle cx="170.89999" cy="178.39999" r="18" />
          <path d="M170.2,177.4h0.6c0.4,0,0.8,0,1.1-0.4c0.2-0.3,0.2-0.6,0.2-0.7c0-0.7-0.5-1.2-1.2-1.2c-0.3,0-1.3,0.1-1.4,1.6l-1.8-0.4   c0.1-0.7,0.7-2.7,3.3-2.7c0.8,0,3,0.4,3,2.5c0,0.4-0.1,1.6-1.6,2c0.8,0.2,1.8,0.8,1.8,2.3c0,1.9-1.6,2.9-3.4,2.9   c-0.3,0-1.6,0-2.5-0.9c-0.8-0.8-0.8-2.1-0.8-2.4h1.9c0,0,0,0.2,0,0.3c0,0.2,0.1,1.4,1.5,1.4c1.1,0,1.5-0.8,1.5-1.5   c0-0.1,0-0.5-0.3-0.8c-0.3-0.4-0.8-0.5-1.3-0.5h-0.6V177.4z" />
        </g>       
      </router-link>

      <router-link :to="`/main/${lang}/area/4/step/1`">
        <g id="c4">
          <circle cx="46.299999" cy="147.3" r="18" />
          <path d="M48.6,149.9v2.2h-1.7v-2.2h-4.1v-1.2l4.1-6.1h1.7v5.8h1.2v1.4h-1.2V149.9z M46.9,148.4c0-0.2,0.1-3.8,0.1-3.8l-2.4,3.8   H46.9z" />
        </g>       
      </router-link>

      <router-link :to="`/main/${lang}/area/5/step/1`">
        <g id="c5">
          <circle cx="42.900002" cy="66.300003" r="18" />
          <path d="M45.6,63.1h-3.7l-0.3,2.1c0.5-0.6,1.5-0.7,1.8-0.7c0.4,0,1.3,0.1,2.1,0.9c0.6,0.6,0.8,1.4,0.8,2.3c0,1.3-0.5,2-0.8,2.4    c-1,1.1-2.2,1.1-2.7,1.1c-0.3,0-1.3,0-2.2-0.6c-0.7-0.6-1-1.3-1.1-2.1l1.9-0.1c0,0.8,0.5,1.4,1.4,1.4c1.2,0,1.5-1.1,1.5-1.9    c0-0.7-0.3-1.8-1.6-1.8c-0.3,0-1.1,0.1-1.4,0.9l-1.6-0.1l0.7-5.2h5.3L45.6,63.1z" />
        </g>
      </router-link>

      <router-link :to="`/main/${lang}/area/6/step/1`">
        <g id="c6">
          <circle cx="120.5" cy="39" r="18" />
          <path d="M121.8,36.8c0-0.7-0.5-1.1-1.1-1.1c-0.4,0-1,0.2-1.3,1c-0.2,0.5-0.3,1.4-0.3,1.9c0.4-0.5,1.1-1,2-1c1.4,0,2.7,1,2.7,2.9   c0,1.7-1.1,3.3-3.2,3.3c-2.2,0-3.3-1.7-3.3-4.6c0-0.3,0-2.1,0.6-3.4c0.8-1.7,2.4-1.8,2.9-1.8c0.3,0,1.3,0,2,0.7   c0.7,0.6,0.8,1.3,0.9,1.7L121.8,36.8z M120.6,39.3c-0.9,0-1.4,0.7-1.4,1.5c0,1.1,0.6,1.5,1.4,1.5c0.3,0,1.4,0,1.4-1.5   C121.9,39.9,121.4,39.3,120.6,39.3z" />
        </g>
      </router-link>

      <router-link :to="`/main/${lang}/area/7/step/1`">
        <g id="c7">
          <circle cx="135.60001" cy="112.5" r="18" />
          <path d="M138.7,107.7v1.5c-0.3,0.4-0.6,0.8-0.9,1.3c-0.8,1.2-1.3,2.3-1.7,3.7c-0.3,1-0.5,1.9-0.6,2.9h-2.3c0.5-4,2.7-6.6,3.5-7.8   h-4.3v-1.7L138.7,107.7L138.7,107.7z" />
        </g>
      </router-link>

      <router-link :to="`/main/${lang}/faq`">
        <g id="cFaq">
          <circle cy="209" cx="93" r="32" />
            
          <g id="g916">
            <path d="m 80.5,205.2 v 2.8 h 4.7 v 1.8 h -4.7 v 4.8 h -2.1 v -11.3 h 7.5 v 1.9 z" />
            <path d="m 93,214.6 -0.7,-2.2 h -4.2 l -0.7,2.2 h -2.3 l 3.8,-11.3 h 2.4 l 3.9,11.3 z m -2.7,-9.3 -1.6,5.2 h 3.1 z" />
            <path d="m 107,215 c -0.4,-0.1 -1.1,-0.3 -2.4,-1.4 -1.3,1.2 -3,1.2 -3.6,1.2 -3.2,0 -5.3,-2.4 -5.3,-5.9 0,-3.4 2.1,-5.9 5.4,-5.9 3,0 5.4,2.2 5.4,5.8 0,1.1 -0.3,2.5 -0.8,3.4 0.1,0.4 1,0.8 1.7,0.8 0.1,0 0.2,0 0.2,0 z m -6,-10 c -1.7,0 -3.1,1.6 -3.1,4 0,1.9 1.2,3.9 3.2,3.9 1.8,0 3,-1.6 3,-3.9 0.1,-2.3 -1.2,-4 -3.1,-4 z" />
          </g>
        </g>
      </router-link>
    </svg>

  </div>
</template>

<script>
export default {
  name: 'Map',
  props: ['lang'],
  components: {
  }
}
</script>

<style lang="postcss" scoped>
circle {
  fill: #e50505ff;
}

path {
  fill: rgb(39, 4, 4);
}

circle:hover {
  fill: red;
  cursor: pointer;
}

circle:active {
  fill: darkred;
}
</style>

