<template>
  <div class="question border-gray-200 mb-6 p-5">
    <p class="text-xl mb-5 font-semibold text-gray-700">{{prevQuestion}} {{question.question}}</p>

    <div v-for="c in question.choices" class="flex items-center mb-3" :key="c.id"> 
      <input
        type="radio"
        :id="c.id"
        :value="c.id"
        v-model="modelValue"
        @click="$emit('input', $event.target.value)"
        />
      <label :for="c.id" class="ml-2">
        <span class="text-gray-900">{{c.text}}</span>
      </label>
    </div>

    <!--
    <button class="btn2 mt-6">Tell us</button>
    -->
  </div>
</template>

<script>
export default {
  name: 'Question',
  props: ['question', 'prevQuestion', 'modelValue'],
  emits: ['update:modelValue', 'input'],
}
</script>

<style lang="postcss">
  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
  }
  [type="radio"]:checked + label,
  [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
  }
  [type="radio"]:checked + label:before,
  [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }
  [type="radio"]:checked + label:after,
  [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: #e50505ff;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
</style>
