<template>
  <div id = "sent" class="flex flex-col items-start">
    <p class="text-lg font-semibold px-5 mb-3" v-t="'thanks'"></p>
    <p class="text-l text-black px-5" v-t="'thanks_detail'"></p>
    <router-link :to="{ name: 'map' }" class="btn2 mt-8 ml-5" v-t="'home'"></router-link>
  </div>
</template>

<script>

export default {
  name: 'Sent',
  props: ['result', 'lang'],
  components: {
  }
}
</script>

<style lang="postcss">
</style>

<i18n>
{
  "en": {
    "thanks": "Thank you for contributing to this exhibition.",
    "thanks_detail": "You can submit more responses in this or other areas.",
    "home": "Home"
  },
  "de": {
    "thanks": "Danke für Ihren Beitrag zu dieser Ausstellung.",
    "thanks_detail": "Wir sind gespannt auf weitere Antworten von Ihnen in diesem oder anderen Bereichen.",
    "home": "Heimat"
  }
}
</i18n>