<template>
  <div id = "terms" class="p-5">

   
    
  </div>
</template>

<script>

export default {
  name: 'Terms',
  props: ['lang'],
  components: {
  }
}
</script>

<style lang="postcss" scoped>
h1 {
  @apply font-bold mb-1;
}

</style>
