<template>
  <div id="admin" class="max-w-3xl mx-auto relative">

    <teleport to="#teleport">
      <div v-if="false" id="notification" class="fixed top-3 right-3 bg-yellow-300 border border-yellow-500 px-2 py-2 rounded-sm shadow-lg w-48 z-10">
        <p class="text-yellow-600 font-medium">Notification</p>
        <p class="text-yellow-900 font-medium">The Question has been Saved</p>
      </div>
    </teleport>

    <Modal
      v-if="toShutdown"
      :title="`Do you want to Shutdown the computers?`"
      subtitle="This action cannot be undone"
      actionLabel="Shutdown"
      @onClick="handleShutdownConfirm"
      @onCancel="handleShutdownCancel">
    </Modal>     
    
    <div id="navigation" class="m-5 my-8 flex flex-col justify-between items-start sm:flex-row">
      <div>
        <h1 class="text-3xl font-mono text-gray-800 font-bold">Heimaten Admin Interface</h1>
        <p class="mb-3">
          Here you can list and rate the answers sent by the visitors.
        </p>
      </div>

      <p v-if="false" class="">
      The current options are:
      <ul class="list-disc ml-6">
        <li>Flag a question</li>
        <li>Promote a question</li>
      </ul>
      </p>
      
      <Button
        icon=""
        label="Download Backup"
        class="bg-yellow-400"
        :onClick="downloadBackup"
      >
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 9h-4V3H9v6H5l7 7 7-7zM5 18v2h14v-2H5z"/></svg>
      </Button>

      <!--
        <router-link
        to="/admin/question"
        class="font-mono text-2xl my-3 mr-5"
        >
          Questions
        </router-link>
      <router-link to="/admin/answer" class="font-mono text-2xl my-3 mr-5">Answers</router-link>
      -->
    </div>

    <div class="m-5">
      <div id = "general" class="mb-20">
        <div class="bg-yellow-100 p-4 shadow-sm border border-yellow-400 rounded-lg">
          <h2 class="text-lg text-gray-700 font-semibold pb-2 border-b border-yellow-300">
            General
          </h2>
          
          <div class="p-1 pt-6 flex sm:p-8">
            <div class="flex-1">
              <p class="mb-2 text-gray-700">Show answers with</p>
              
              <div class="flex">
                <input type="radio" id="one-star" value="1" v-model="picked" class="mr-3" />
                <label for="one-star">
                  <div class="flex"><Star class='mr-3' :highlighted="true"/> or more</div>
                </label>
              </div>

              <div class="flex">
                <input type="radio" id="two-stars" value="2" v-model="picked" class="mr-3" />
                <label for="two-stars">
                  <div class="flex"><Star :highlighted="true"/><Star class="mr-3" :highlighted="true"/> or more</div> 
                </label>
              </div>

              <div class="flex">
                <input type="radio" id="three-stars" value="3" v-model="picked" class="mr-3" />
                <label for="three-stars">
                  <div class="flex"><Star :highlighted="true"/><Star :highlighted="true"/><Star :highlighted="true" class="mr-3"/></div>
                </label>
              </div>
              
            </div>

            <div class="flex-1">
              <div>
                <p v-if="false">{{settings}}</p>
                <p class="text-gray-700">This will send a signal to all computers that display content to turn off</p>
                <Button label="Turn off all computers" class="bg-yellow-50 border-red-500 border-2 text-red-600" @onClick="handleShutdown"/>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <Crud type='answer' />
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { ref, watch, onMounted } from 'vue'
import Crud from './Crud.vue'
import Button from './components/Button.vue'
import Star from './components/Star.vue'
import Select from './components/Select.vue'
import Modal from './components/Modal.vue'

export default {
  components: {
    Crud,
    Button,
    Star,
    Select,
    Modal
  },
  props: ['type'],
  setup () {
    let potato = ref('Potatoes')
    let picked = ref(0)
    let settings = ref({})
    let toShutdown = ref(false)

    const downloadBackup = () => {
      window.open(window.hostname + '/admin/download')
    }

    const getSettings = () => {      
      let query = `${window.hostname}/admin/settings`
      // console.log(query)

      axios
        .get(query)
        .then(response => {
          settings.value = response.data
          // console.log('settings', settings)
          // console.log(settings.value.playrating)
          picked.value = parseInt(settings.value.playrating)
        })
        .catch(e => console.log(e))
    }

    const setPlayrating = (value) => {
      let query = `${window.hostname}/admin/playrating`
      console.log(query)

      axios
        .post(query, { 'rating': value })
        .then(response => {
          settings.value = response.data
          // console.log('settings', settings)
          // console.log(settings.value.playrating)
          picked.value = parseInt(settings.value.playrating)
        })
        .catch(e => console.log(e))
    }

    const handleAction = () => {
      console.log('action')
    }

    watch(picked, (newVal, oldVal) => {
      if (oldVal === 0) return

      console.log(newVal, oldVal)
      setPlayrating(newVal)
    })
    
    onMounted( () => {
      getSettings()
    })

    const handleShutdown = () => {
      console.log('shutdown')
      toShutdown.value = true
    }

    const handleShutdownCancel = () => {
      console.log('shutdown cancel')
      toShutdown.value = false
    }

    const handleShutdownConfirm = () => {
      console.log('shutdown confirm')   

      let query = `${window.hostname}/answer/shutdown`
      console.log(query)

      axios
        .get(query)
        .then(response => {
          console.log(response.data)
          toShutdown.value = false
        })
        .catch(e => console.log(e))      
    }

    return { picked, settings, downloadBackup, handleAction, toShutdown, handleShutdown, handleShutdownCancel, handleShutdownConfirm }
  }
}
</script>

<style lang="postcss">

</style>
