<template>

  <Modal
    v-if="itemToDelete"
    :title="`Do you want to DELETE the answer number ${itemToDelete.id}?`"
    subtitle="This action cannot be undone"
    actionLabel="Delete"
    @onClick="handleDeleteConfirm"
    @onCancel="handleModalCancel">
  </Modal>      

  <Modal
    v-if="itemToEdit"
    :title="`Do you want to MODIFY the answer number ${itemToEdit.id}?`"
    subtitle="This action cannot be undone"
    actionLabel="Modify"
    @onClick="handleModifyConfirm"
    @onCancel="handleModalCancel">
    
    <div class="my-10">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
        Answer
      </label>
      <input v-model="itemToEdit.text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="username" type="text" placeholder="Username">
    </div>
  </Modal>      

  <div id = "admin">
    <div v-if="false" class="bg-gray-50 p-4 shadow-sm border rounded-lg mb-20">
      <h2 class="text-lg text-gray-700 font-semibold pb-2 border-b-2">
        Debug /answer/view (debug screens)
      </h2>
      
      <div v-for="a in areas" :key="a.id" class="flex items-center justify-between">
        <input :placeholder="`Area ${a.id}`" v-model="a.text" class="flex-grow mr-3 p-2 bg-transparent" />
        <Button :label="`View ${a.id}`" @onClick="handleView(a.id)" />
      </div>
    </div>
    
    <div v-if="false" class="bg-gray-50 p-4 shadow-md rounded-lg mb-20">
      <h2 class="text-lg text-gray-700 font-semibold pb-2 border-b-2">
        Add a Question
      </h2>
      <form v-if = "true" @submit.prevent class="mt-6">
        <div id = "question_type" class="mb-6">
          <label class="text-gray-600 mr-3">Question Type</label>
          <Select name="question_type" :options="['Free', 'Single Choice', 'Multichoice']" class="mr-5" />
          <label class="text-gray-600 mr-3">Language</label>
          <Select name="question_language" :options="['German', 'English']" />
        </div>
        <div class="">
          <label for="question_text" class="block mb-2 text-sm text-gray-400">Question Text</label>
          <input id = "question_text" class="bg-gray-200 p-2 mr-2 w-full focus:ring-indigo-500 focus:border-gray-700 placeholder-gray-400" placeholder="What do you...?"/>
        </div>
        <div id = "question_choices">
          <div class="flex items-center">
            <input class="bg-gray-200 p-2 mr-2 flex-grow placeholder-gray-400" placeholder="Choice"/>
            <Button label="remove" class="bg-pink-700 text-red-50"/>
          </div>
          <Button label="Add choice" size='small' class="mt-0" />
        </div>
        <Button label="Save Question" class="bg-yellow-400 w-full mt-6" />
      </form>
    </div>

      <div class ="flex justify-between flex-col mb-6 sm:flex-row sm:mb-3">
        <Button :label="`Reload ${type}s`" @onClick="handleFetchData">
          <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000"><path d="M0 0h24v24H0z" fill="none"/><path d="M17.65 6.35C16.2 4.9 14.21 4 12 4c-4.42 0-7.99 3.58-7.99 8s3.57 8 7.99 8c3.73 0 6.84-2.55 7.73-6h-2.08c-.82 2.33-3.04 4-5.65 4-3.31 0-6-2.69-6-6s2.69-6 6-6c1.66 0 3.14.69 4.22 1.78L13 11h7V4l-2.35 2.35z"/></svg>
        </Button>
        <div class="flex">
          <Select label="Area" name="query_area" :options="['all', 1, 2, 3, 4, 5, 6, 7]" :onSelection="handleAreaSelection" class="mr-3" />
          <Select v-if="false" label="Page Size" name="query_amount" :options="[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]" :onSelection="handleLimitSelection" class="mr-3" />
          <Select label="Filter Language" name="query_language" :options="['all', 'en', 'de']" :onSelection="handleLanguageSelection" class="mr-3" />
          <Select label="Order by" name="query_order_by" :options="[ 'Newer first', 'Older first', 'Higher Score', 'Lower Score']" :onSelection="handleOrderBy" class="" />
        </div>
      </div>

    <div class="">
      <div v-for="d in dataList" class="bg-white list-item shadow-sm border rounded-lg mb-5 overflow-hidden">
        <div class="flex items-start flex-col-reverse md:flex-row">
          <div class="flex-1 p-2 p-4">
            <div>
              <p v-if="false" class="text-gray-500 text-sm">{{d.placeholder}}</p>
              <p class="font-normal text-xl text-gray-800 font-medium pr-4">{{d.text}} <!-- {{getAnswer(d.placeholder, d.text)}} --></p>
              <div class="mt-1 flex text-gray-500">
                <p class="mr-1">Sent by <span v-if = "d.user_name" class="underline">{{d.user_name}}</span><span v-else class="text-gray-500">Unknown</span></p>
                <p class="">from <span v-if="d.user_place" class="underline">{{d.user_place}}</span><span v-else class="text-gray-500">Unknown</span></p>
              </div>
	      <div class="mt-1 flex text-gray-500">
		      <p class="mr-1">Message <span v-if = "d.message" class="underline"><a :href="window.location.protocol + '//' + window.location.hostname + '/voices/' + d.message">{{d.message}}</a></span><span v-else class="text-gray-500"></span></p>
                <p class="">duration <span v-if="d.message_duration" class="underline">{{d.message_duration}}</span><span v-else class="text-gray-500"></span></p>
              </div>
            </div>
            <div v-if="true" class="flex text-sm mt-2 mb-1 text-gray-700 flex-col sm:flex-row">
              <div class="mt-3 mr-6 inline">
                <p>Area <span class="rounded-full px-4 py-1 ml-2 bg-yellow-100">{{d.area_id}}</span></p>
              </div>
              <div class="mt-3 mr-6">
                <p>Answer Id <span class="border rounded-full bg-blue-300 px-4 py-1 ml-2">{{d.id}}</span></p>
              </div>

              <div class="mt-3 mr-6">
                <p>Language <span class="rounded-full px-4 py-1 ml-2 bg-green-100">{{d.language_question}}</span></p>
                <p v-if="false">Answer lang (guessed) {{d.language_guessed_answer}}</p>
              </div>

              <div class="mt-3 mr-6">
                <p v-if="false">Score: {{d.score}}</p>
                <p>Views <span class="rounded-full px-4 py-1 ml-2 bg-purple-100">{{d.views}}</span></p>
              </div>
                            
            </div>
          </div>
          
          <div class="rating flex rounded-sm overflow-hidden p-4">
            <Button :flat="true" class="bg-transparent rounded-none" @onClick="handleAnswerRating(d, 10)">
              <Star :highlighted="d.score >= 10" />
            </Button>
            <Button :flat="true" class="bg-transparent" @onClick="handleAnswerRating(d, 20)">
              <Star :highlighted="d.score >= 20" />
            </Button>
            <Button :flat="true" class="bg-transparent" @onClick="handleAnswerRating(d, 30)">
              <Star :highlighted="d.score === 30" />
            </Button>
          </div>

        </div>
        <div class="flex items-center bg-gray-50 w-full mt-3 ỳ-2 px-4">
          <Button label="Edit Answer" size="small" class="mr-3 border border-gray-400 text-gray-700 py-1 px-2 rounded-sm" :shadow="false" @onClick="handleModify(d)"/>
          <Button label="Delete" size="small" class="border border-red-400 text-red-400 py-1 px-2 rounded-sm" :shadow="false" @onClick="handleDelete(d)"/>
        </div>
      </div>
      <div v-if="dataList.length===0" class="flex items-center justify-center">
      
        <div class="text-xl text-gray-500 border border-gray-300 p-3 rounded-md my-32">No more answers</div>
      </div>
    </div>
    <div class="flex justify-between items-center">
      <div class="flex">
        <Button label="Previous" :onClick="handlePrevious" :class="{'disabled': query.page <= 0}" class="mr-2 w-24"/>
        <Button label="Next" :onClick="handleNext" class="w-24" :class="{'disabled': dataList.length === 0}" />
      </div>
      <p class="font-medium text-gray-500">
        Page: {{query.page}}
      </p>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Modal from './components/Modal.vue'
import Button from './components/Button.vue'
import Select from './components/Select.vue'
import Star from './components/Star.vue'
import signaturesJSON from './signatures.json'

export default {
  components: { Modal, Button, Select, Star },
  props: ['type'],
  watch: {
    type: function (newVal, oldVal) {
     console.log('newVal', newVal)
     this.fetchData()
    }
  },
  data() {
    return {
      itemToDelete: null,
      itemToEdit: null,
      signatures: signaturesJSON,
      dataList: [],
      query: {
        skip: 10,
        limit: 10,
        page: 0,
        filter_lang: 'en',
        filter_area: 'all',
        order_by: 'desc_time'
      },
      areas: [
        { id: 1, text: '' },
        { id: 2, text: '' },
        { id: 3, text: '' },
        { id: 4, text: '' },
        { id: 5, text: '' },
        { id: 6, text: '' },
        { id: 7, text: '' }
      ]
    }
  },
  mounted() {
    this.fetchData()
  },
  methods: {
    getAnswer(prompt, answer) {
      return prompt.replace('...', answer)
    },
    fetchData() {
      this.dataList = []
      let query = `${window.hostname}/${this.type}/?skip=${this.query.skip * this.query.page}&limit=${this.query.limit}&lang=${this.query.filter_lang}&area=${this.query.filter_area}&order_by=${this.query.order_by}`
      console.log(query)

      axios
        .get(query)
        .then(response => {
          // console.log(response)
          this.dataList = response.data
        })
        .catch(e => console.log(e))
    },
    fetchElement(id) {
      let query = `${window.hostname}/${this.type}/${id}`

      axios
        .get(query)
        .then(response => {
          let elemIndex = this.dataList.findIndex(d => d.id === id)
          this.dataList[elemIndex] = response.data
          // console.log({res: JSON.stringify(response.data), elem: JSON.stringify(elem)})
          // elem = response.data
          //this.dataList = response.data
        })
        .catch(e => console.log(e))
    },
    putElement(elem) {
      let query = `${window.hostname}/${this.type}/${elem.id}`

      axios
        .put(query, elem)
        .then(response => {
          console.log('modified')
          this.fetchElement(elem.id)
          this.itemToEdit = null
        })
        .catch(e => console.log(e))
    },
    handleFetchData() {
      this.fetchData()
    },
    handlePrevious() {
      console.log('previous')
      this.query.page--
      this.fetchData()
    },
    handleNext() {
      console.log('next')
      this.query.page++
      this.fetchData()
    },
    handleLanguageSelection(e) {
      this.query.filter_lang = e.target.value
      this.fetchData()
    },
    handleScoreSelection(e) {
      console.log(e)
    },
    handleLimitSelection(e) {
      this.query.limit = parseInt(e.target.value)
      this.fetchData()
    },
    handleOrderBy(e) {
      console.log(e.target.value)
      if (e.target.value === 'Newer first') {
        this.query.order_by = 'desc_time'
      } else if (e.target.value === 'Older first') {
        this.query.order_by = 'asc_time'
      } else if (e.target.value === 'Higher Score') {
        this.query.order_by = 'desc_score'
      } else if (e.target.value === 'Lower Score') {
        this.query.order_by = 'asc_score'
      }
      this.fetchData()
    },
    handleAreaSelection(e) {
      this.query.filter_area = e.target.value
      this.fetchData()
    },
    getSig(text) {
      return text.split("_").join(" ")
    },
    handleAnswerRating(item, score, cb) {
      // console.log({item: JSON.stringify(item), score: score })
      let query = `${window.hostname}/${this.type}/${item.id}`
      // console.log(query)

      let item_ = {...item}
      item_.score = score

      // console.log({item: JSON.stringify(item_)})
      
      axios
        .put(query, item_)
        .then(response => {
          this.fetchElement(item.id)
          if (cb) cb()
        })
        .catch(e => console.error(e))
    },
    handleDelete(item) {
      this.itemToDelete = item
    },
    handleDeleteConfirm() {
      this.handleAnswerRating(this.itemToDelete, -10, () => {
        this.fetchData()
        this.itemToDelete = null
      })
    },
    handleModify(item) {
      this.itemToEdit = Object.assign({}, item)
    },
    handleModifyConfirm() {
      // PUT new edit
      this.putElement(this.itemToEdit)
    },
    handleModalCancel() {
      console.log('cancel')
      this.itemToDelete = null
      this.itemToEdit = null
    },
    handleView(id) {
      let query = `${window.hostname}/${this.type}/view/?area=${id}`

      axios
        .get(query)
        .then(response => {
          console.log(response.data)
          let elemIndex = this.areas.findIndex(a => a.id === id)
          console.log(elemIndex)
          this.areas[elemIndex].text = response.data.text
        })
        .catch(e => console.log(e))    
    }
  },
}

</script>

<style>
.disabled {
  pointer-events: none;
  opacity: 0.5;
}

</style>
