<template>
  <div v-if = "false" class="p-3 bg-yellow-500 fixed right-3 bottom-0 rounded-lg rounded-b-none shadow-md">
    <router-link to="/" class="p-2 font-semibold text-white">Heimat</router-link>
    <router-link v-if="false" to="/hello" class="p-2 font-semibold text-white">/hello</router-link>
    <router-link v-if="false" to="/tailwind" class="p-2 font-semibold text-white">/tailwind</router-link>
    <router-link to="/admin" class="p-2 font-semibold text-white">/admin</router-link>
  </div>

  <div id="app-main-content" class="min-h-full">
    <router-view v-slot="{ Component }">
      <component :is="Component"/>
    </router-view>
    
    <div id="teleport" />
  </div>
</template>

<script>
import { store } from './store.js'

export default {
  components: {
  },
  setup () {
    return { store }
  }
}
</script>
<style lang="postcss">
html, body { height: 100%; }

body {
  overflow-y: scroll;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 300ms ease-in-out;
  will-change: transform;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/*
#teleport:not(empty) {
  body {
    overflow: hidden;
  }
}
*/


</style>
