

<template>
  <teleport to="#teleport" :disabled="false">
    <div class="flex justify-center items-center fixed top-0 left-0 right-0 bottom-0 bg-opacity-30 bg-black">
      <div class="m-3 max-w-lg max-h-96 flex flex-col bg-white border border-gray-200 shadow-lg">

      <div class="overflow-y-auto p-5">
        <div v-if = "lang === 'en'">
          <h1 class="font-bold mb-3">Terms of Use</h1>
          <p class="mb-2">1) No personal data beyond the content you explicitly submit via this questionnaire will be saved or shared with the public.</p>
          <p class="mb-2">2) You are responsible for the content you provide, including compliance with applicable laws, rules and regulations. You should only provide content that you are comfortable sharing publicly.</p>
          <p class="mb-2">3) By using the App, you agree to have the rights to the data you submit. In this respect, you indemnify MK&G against possible claims by third parties.</p>
          <p class="mb-2">4) The personal data submitted by you may be processed by MK&G for the following purposes</p>

          <p class="mb-2 ml-2">a) Use within the framework and for the duration of the exhibition to share with the public, in addition they may be visible in the press and social media.</p>
          <p class="mb-5 ml-2">b) Use for non-profit, educational and research purposes of MK&G and the authors of this installation.</p>
          
          <p>You can find more information about the privacy policy here:</p>
          <a class="mb-5 font-bold underline" href="http://www.mkg-hamburg.de/en/datenschutz">http://www.mkg-hamburg.de/en/datenschutz</a>
          <p class="text-gray-600 mt-8">* If your smartphone does not allow access to mobile data, a printed copy of the privacy notice is available at any time from the custody staff in the room.</p>
        </div>

        <div v-if = "lang === 'de'">
          <h1 class="font-bold mb-3">Nutzungsbedingungen</h1>
          <p class="mb-2">1) Wir speichern keine Daten außer den Inhalten, die Sie ausdrücklich mit dem Klicken von „Absenden“ mit uns und den anderen Ausstellungsbesucher*innen teilen wollen.</p>
          <p class="mb-2">2) Sie sind verantwortlich für die Inhalte, die Sie bereitstellen, einschließlich der Einhaltung der geltenden Gesetze, Regeln und Vorschriften. Sie sollten nur Inhalte zur Verfügung stellen, die Sie gerne öffentlich mit anderen teilen möchten.</p>
          <p class="mb-2">3) Mit der Nutzung der App erklären Sie, über die Rechte an den von Ihnen übermittelten Daten verfügen zu können. Sie stellen das MK&G insoweit von möglichen Ansprüchen Dritter frei.</p>
          <p class="mb-2">4) Die von Ihnen übermittelten personenbezogenen Daten können vom MK&G für folgende Zwecke verarbeitet werden:</p>

          <p class="mb-2 ml-2">a) Nutzung im Rahmen und für die Dauer der Ausstellung, um sie mit der Öffentlichkeit zu teilen, zudem können sie in der Presse und in sozialen Medien sichtbar sein.</p>
          <p class="mb-5 ml-2">b) Verwendung für gemeinnützige, Bildungs- und Forschungszwecke des MK&G und der Autoren dieser Installation.</p>
          
          <p>Sie finden hier weitere Informationen zum Datenschutz*:</p>
          <a class="mb-5 text-blue-500 font-bold underline" href="http://www.mkg-hamburg.de/en/datenschutz">http://www.mkg-hamburg.de/en/datenschutz</a>
          <p class="text-gray-600 mt-8">* Sofern Ihr Smartphone keinen Zugriff auf mobile Daten ermöglicht, können Sie jederzeit ein ausgedrucktes Exemplar der Datenschutzhinweise beim Aufsichtspersonal im Raum einsehen.</p>
        </div>
      </div>

        <div class="flex mt-5 pb-5 justify-center">
          <button class="btn2 w-52" @click="$emit('onCancel')">OK</button>
          <!--
          <Button label="OK" @onClick="$emit('onCancel')" />
          -->
        </div>
      </div>
    </div>
  </teleport>
</template>

<script>

export default {
  components: {
  },
  props: ['lang'],
  emits: ['onCancel'],
  data() {
    return {
    }
  }
}
</script>
